//color base
$color-primary: #2B2835;
$color-secundary: #FFC700;

//color
$color-gainsboro: #F8F8F9;
$color-gold: #9D8220;
$color-gray:#B8B8B8;
$color-gray-light: #F8F8F9;

//title
$title-size-default: 40px;
$title-size-primary: 50px;
$title-size-button: 14px;
$title-smartphone-default: 32px;

//text
$text-default: 16px;
$text-secundary: 13px;
$text-description: 14px;


$text-header: 15px;
$text-footer: 24px;

$title-footer-phone: 31px;
$text-footer-phone: 12px;

