//header
.nav-default{
    background: rgba(25, 23, 32, 0.40) !important;
        padding-bottom: 0px;
         padding-top: 0px;
 }
 
 .nav-link-default{
     color: #ffffff !important;
     font-size: $text-header;
     font-weight: 500;
     line-height: 18px;
     letter-spacing: 1.90909px;
     margin-right: 90px;
 }
 
 .nav-img{
     margin-right: 50px;
 }