.color-beats {
    span {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;

        &:nth-child(1){
            border: 1px solid #000000;
            background: #ffffff;
        }

        &:nth-child(2){
            background: #DD5656;
        }

        &:nth-child(3){
            background: #000000;
        }
    }
}

.box-search {
    button{
        width: 150px;
        color: #CCC;
        border-color: #CCC;

        &:hover{
            color: #000;
            background-color: #ffc107;
            border-color: #ffc107;
        }
    }

    #search-close{
        margin: 0 8px;
        position: relative;

        &:before{
            content: '';
            background-color: #FFF;
            width: 2px;
            height: 25px;
            display: block;
            transform: rotate(140deg);
            margin: 0 50%;
        }

        &:after{
            content: '';
            background-color: #FFF;
            width: 2px;
            height: 25px;
            display: block;
            transform: rotate(-140deg);
            margin: 0 50%;
            position: absolute;
            top: 6px;
            left: 0px;
        }
    }

    
}